MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/edu_portal
JWT_SECRET=your_super_secret_key_change_this
PORT=5000
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_gmail_app_password_16chars
SITE_URL=https://250995.xyz
